@import url(https://fonts.googleapis.com/css?family=Oswald|Roboto);
body {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
  background-color: #fff4e6;
  overflow: hidden;
  margin:0;
}

.table {
  display: table;
  width: 100%;
  height: 100%;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
  transition: all 0.5s;
}

.container {
  position: relative;
  width: 600px;
  margin: 30px auto 0;
  height: 320px;
  background-color: #854442;
  top: 50%;
  margin-top: -160px;
  transition: all 0.5s;
}

.btn, .info-btn {
  display: block;
  border: none;
  text-align: center;
  margin: 0 auto;
  color: #fff;
  background-color: #be9b7b;
}

.info-btn {
  padding: 5px 10px
}
.btn:hover {
  opacity: 0.7;
}
.btn, input {
  padding: 10px 15px;
}
 input {
  margin: 0 auto 15px;
  display: block;
  width: 220px;
}
.container-info {
  font-size: 0;
}
.info-item {
  text-align: center;
  width: 300px;
  height: 320px;
  display: inline-block;
  color: #fff;
}
.info-item p {
  font-size: 20px;
  margin: 20px;
}
.info-item .btn {
  background-color: transparent;
  border: 1px solid #fff;
}
.info-item .table-cell {
  padding-right: 35px;
}
.info-item:nth-child(2) .table-cell {
  padding-left: 35px;
  padding-right: 0;
}
.container-form {
  overflow: hidden;
  position: absolute;
  left: 30px;
  top: -30px;
  width: 305px;
  height: 380px;
  background-color: #fff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.5s;
}
.container-form .btn {
  margin-top: 30px;
}
.form-item {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: all 0.7s;
}
.form-item.sign-up {
  position: absolute;
  left: -100%;
  opacity: 0;
}
.container.log-in .container-form {
  left: 265px;
}
.container.log-in .container-form .form-item.sign-up {
  left: 0;
  opacity: 1;
}
.container.log-in .container-form .form-item.log-in {
  top: -100%;
  opacity: 0;
}

/*BACK*/
.back{
  font-size: 90px;
  font-weight: bold;
  font-family: initial;
  text-decoration: none;
  /*background: linear-gradient(to right,white,transparent);*/
  color:black;
  position: fixed;
  top:0px;
  left:0px;
  z-index: 300;
  height: 80px;
  width:40px;
  display:flex;
  align-items: center;
  justify-content:left;
  padding-left: 10px;
  transition: 0.2s;
}
.back:hover{
  transform: translateX(-10px);
  transition: 0.2s;
}
.back-in{
  transform: translateY(-9px);

}

@media all and (max-width: 640px){
 /* body{
    margin:0;
  }*/
  .container{
    height: 600px;
    width:365px;
    margin-top: -300px;
  }


  .info-item .table-cell {
    padding-right: 0px;
}
.info-item:nth-child(2) .table-cell {
  padding-left: 0px;
  padding-right: 0px;
}


  .container-forms{
    width: 100%;
    height: 100%;
  }
  .container-info {
    width: 100%;
    height: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container.log-in .container-form {
  top: 265px;
  left:30px;
}
}